name: CI for PromoTrip AI Backend

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint_buil_test:
    name: Lint, Build, test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Clear npm cache
        run: npm cache clean --force

      - name: Install dependencies
        run: npm ci

      - name: Show file for debugging
        run: cat src/prisma/prisma.service.ts

      - name: Lint
        run: npm run lint

      - name: Build
        run: npm run build

      - name: Test
        run: npm run test
